<h1>Employee listing</h1>

<p *ngIf="!data"><em>Loading...</em></p>

<table class='table' *ngIf="data">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Age</th>
            <!--<th>State Code</th>
            <th>Country Code</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of data">
            <td>{{ employee.EmployeeId }}</td>
            <td>{{ employee.FirstName }}</td>
            <td>{{ employee.LastName }}</td>
            <td>{{ employee.Email }}</td>
            <td>{{ employee.Age }}</td>
            <!--<td>{{ employee.stateCode }}</td>
            <td>{{ employee.countryCode }}</td>-->

        </tr>
    </tbody>
</table>


